html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "virgo_displayregular";
  background-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input {
  margin: 0 0 0 7px;
  border-radius: 5px;
  background-color: cornsilk;
}

select {
  background-color: cornsilk;
  border-radius: 5px;
  margin: 0 0 0 7px;
}

a {
  color: azure;
}

h2 {
  font-family: "Courier New", Courier, monospace;
}

p {
  font-size: 1rem;
}

.arrow {
  position: relative;
  top: 0;
  left: 0.1em;
  border: solid rgba(200, 200, 200, 0.8);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.sub {
  flex-direction: row !important;
}

.form-command {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

.disclaimer {
  border-radius: 5px;
  border-width: 1px;
  background-color: rgba(255, 199, 57, 0.6) !important;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#validater {
  border-radius: 5px;
  border-width: 1px;
  background-color: rgba(136, 255, 57, 0.6) !important;
  width: 100%;
  padding: 10px;
  display: none;
  align-items: center;
  box-sizing: border-box;
}

#problem {
  border-radius: 5px;
  border-width: 1px;
  background-color: rgba(255, 87, 57, 0.6) !important;
  width: 100%;
  padding: 10px;
  display: none;
  align-items: center;
  box-sizing: border-box;
}

.disclaimer-text {
  box-sizing: content-box;
  font-size: 1.5rem;
  margin: 0 0 0 8px;
  width: 100%;
  font-style: italic;
}

.validater-text {
  box-sizing: content-box;
  font-size: 1.5rem;
  margin: 0 0 0 8px;
  width: 100%;
  font-style: italic;
}

.material-icons.md-36 {
  font-size: 36px;
}

#background {
  height: 100%;
  width: 100%;
  background-color: #33526f;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container {
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 25px;
  padding: 30px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 95%;
  max-height: 95%;
  margin: auto;
  font-size: 2rem;
}

#backButton {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 25px;
  height: 25px;
  color: white;
  background-color: rgba(1, 1, 1, 0.5);
  border-radius: 50%;
}

#validate {
  background-color: rgb(237, 255, 134);
  padding: 10px;
  font-size: 1rem;
  font-style: italic;
}

@font-face {
  font-family: "virgo_displayregular";
  src: url("../fonts/virgo_display-webfont.woff2") format("woff2"),
    url("../fonts/virgo_display-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 500px) and (min-height: 500px) {
  #backButton {
    top: 5vh;
    left: 5vh;
    height: 4vh;
    width: 4vh;
  }
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(../fonts/material_icons/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
